@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Roboto', sans-serif;
}

.underlined{
  position: relative;
}
.underlined::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #FCD900;
  left: 0;
  bottom: 2px;
  z-index: -1;
}

.footer{
  position: relative;
}
.footer::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: url("../public/images/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.hero{
  background-image: url("../public/images/hero.jpg");
  background-position: center;
  background-size: cover;
  padding: 15rem 0;
  height: 300px;
}

.whatwedo{
  background-image: url('../public/images/whatwedo-bg.png');
  background-position: center;
  background-size: cover;
}

.wwd-shadow{
  box-shadow: 0px -35px 50px rgba(0, 0, 0, 0.08);
}

section.news{
  background-image: url('../public/images/news-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.underline-yellow{
  position: relative;
}
.underline-yellow::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #FCD900;
  left: 0;
  bottom: 1px;
  z-index: -1;
}

.about{
  background-image: url('../public/images/about-bg.png');
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -10;
}